
.frame-cont {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: grey;
}

.nav-link-cont {
    margin-left: 100px;
    margin-top: 100px;
    position: absolute;
    width: 140px;
    height: 140px;
    z-index: 1;
}

.circle-btn {
    opacity: 0.5;
    transform: translate(20%, 20%);
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

.circle-btn-text {
    pointer-events: none;
    opacity: 0;
    transition-delay: 0.3s;
    transition: 0.3s ease-in-out;
    margin-top: 30px; 
}

.nav-link:hover
.circle-btn {
    transform: scale(1.2, 1.2);
    transform-origin: -40% -40%;
    opacity: 1;
}

.nav-link:hover
.circle-btn-text {
    transform: scale(1.2, 1.2) translateX(-12px) translateY(-12px); 
    opacity: 0.6;
}

.home-cont:hover ~ .fade-on-nav-hover {
    transform: scale(0.8, 0.8);
    opacity: 0.5;
    
}


.page-cont {
    position: absolute;
    background-color: darkseagreen;
    transition: 0.4s cubic-bezier(1, -1, 0, 2);
    clip-path: circle(2000px at 35px 35px);
}

.page-cont { 
    animation: zoom-in 1.5s 1;
}

.page-bitsynth {
    height: 100%;
}

.bitsynth-content-cont {
    width: 50%;
    margin: auto;
    padding-top: 70px;
    text-align: center;
}

  
@keyframes zoom-in {
    0% {
      clip-path: circle(10px at 100px 100px);
      opacity: 0.2;
    }
    50% {
        clip-path: circle(150px at 200px 200px);
        opacity: 0.7;
    }
     100% {
        clip-path: circle(900px at center);
        opacity: 1;
    }
}

.fade-on-nav-hover {
    transition: 0.3s ease-in-out;
    opacity: 1;
}

.site-header {
    margin: auto;
    width: 50%;
    text-align: center;
    position: relative;
    z-index: 2;
}

.site-footer {
    width: 100%;
    position: absolute;
    bottom: 20px;
    z-index: 2;
}

.footer-cont {
    margin: auto;    
    width: 420px;
}


.footer-list {
    list-style-type: none;
    text-align: center; 
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.footer-item {
    float: left;
}

.footer-item, li a {
    display: block;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}